.services {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 0px;
  height: 294px;
  width: 370px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.services__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: var(--shadow1);
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 27px;
}
