:root {
  --blue: #2196f3;
  --white: #fff;
  --very-bright-grey: #f5f4fa;
  --medium-bright-grey: #ececec;
  --medium-bright-grey2: #eeeeee;
  --bright-grey: #afb1b8;
  --grey: #757575;
  --dark-grey: #2f303a;
  --almost-black: #212121;
  --black: #000;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --very-bright-shadow: rgba(255, 255, 255, 0.1);
  --bright-shadow: rgba(255, 255, 255, 0.3);
  --medium-shadow: rgba(255, 255, 255, 0.6);
  --darker-shadow: rgba(117, 117, 117, 0.5);
  --border-shadow: rgba(33, 33, 33, 0.2);
  --blue-shadow: rgba(33, 150, 243, 0.9);
  --shadow1: rgba(47, 48, 58, 0.8);
  --shadow2: rgba(0, 0, 0, 0.2);
  --shadow3: rgba(0, 0, 0, 0.1);
  --shadow4: rgba(0, 0, 0, 0.08);
  --shadow5: rgba(0, 0, 0, 0.12);
  --shadow6: rgba(0, 0, 0, 0.14);
  --shadow7: rgba(0, 0, 0, 0.15);
  --shadow8: rgba(0, 0, 0, 0.06);
  --shadow9: rgba(0, 0, 0, 0.16);

  --min-width: 320px;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}
